@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Błąd";
}

<h1 class="text-danger">Błąd</h1>
<h2 class="text-danger">Podczas przetwarzania żądania wystąpił błąd. Proszę spróbować ponownie.</h2>
<h3 class="text-danger">W przypadku powtarzającego się błędu proszę o skontaktowanie się z działem informatyki - it@cnbop.pl</h3>
