@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Zablokowano konto";
}

<hgroup>
    <h1 class="text-danger">Zablokowane konto</h1>
    <h2 class="text-danger">To konto zostało zablokowane, proszę spróbować później</h2>
</hgroup>
